<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.stefsy.humor"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Stefsy Humor</name>

  <description>
     Stefsy humor Application
  </description>

  <author href="https://google.com" email="stefsy@gmail.com">
      Stefania Audino
  </author>

</widget>
